body {
  background-color: #224058;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand';
  padding-top: 5%;
  word-wrap: break-word;
}

.Navbar {
  border-bottom: white 1px solid;
  opacity: 0.9;
}

.Footer {
  height: 45px;
  border-top: white 1px solid;
}

.logo {
  width: 100px;
  height: 100px;
}

.App {  
  align-items: center;
  margin-top: 60px;
}

.Walletinfo {
  margin-bottom: 25px;
}

.Send-Tx {
  margin-left: 10%;
  margin-right: 10%;
}

.Block {
  border: 1px solid #fff;
  padding: 3%;
  margin: 1%;
}

.Chain {
  opacity: 0.7;
}

.Transaction {
  padding: 2%;
}

.Blockchain, .TransactionPool {
  margin: 10%;
  margin-top: 60px;
}

a, a:hover {
  color :white;
  text-decoration: none
}

hr {
  border-top: 1px solid white;
}

.end {
  border: 1px solid #fff;
  padding: 10px;
  margin: 1%;
}