body {
  background-color: #224058;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'Quicksand';
  padding-top: 5%;
  word-wrap: break-word;
}

.Navbar {
  border-bottom: white 1px solid;
  opacity: 0.9;
}

.logo {
  width: 100px;
  height: 100px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid #fff;
  padding: 3%;
  margin: 1%;
}

.Chain {
  opacity: 0.7;
}

.Transaction {
  padding: 2%;
}

.Blockchain, .ConductTransaction, .TransactionPool {
  margin: 10%;
  margin-top: 60px;
}

a, a:hover {
  color :white;
  text-decoration: none
}

input, button {
  color: black;
}

hr {
  border-top: 1px solid white;
}

.end {
  border: 1px solid #fff;
  padding: 10px;
  margin: 1%;
}